{% extends "base.html" %}

{% block title %}TCP Ping{% endblock %}

{% block content %}
<h2> TCP Ping </h2>
<p>Verifies whether a TCP port is open on a given IP address.</p>

<form action="/ping/" method="get">
    <div>
        <label for="ip">Please enter Host IP Address:</label>
        <input id="ip" name="ip" required>
    </div>
    <div>
        <label for="port">Please enter TCP Port:</label>
        <input id="port" type="number" name="port" min="0" max="65535" required>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

{% if test_result %}
    <div class="result" style="color: green;">{{ test_result|linebreaks }}</div>
{% endif %}

<a href="{% url 'home' %}">Home</a>
{% endblock %}
